<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
		
	<!-- 定义受环境影响易变的变量 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
	    <property name="ignoreResourceNotFound" value="true"/>
	    <property name="locations">
	        <list>
	            <!-- 标准配置 -->
	            <value>
	                classpath*:/application.properties
	            </value>
	        </list>
	    </property>
	</bean>
	
	<!-- Root Context: defines shared resources visible to all other web components -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
	 destroy-method="close">
	    <property name="driverClassName" value="${jdbc.driver}"/>
	    <property name="url" value="${jdbc.url}"/>
	    <property name="username" value="${jdbc.username}"/>
	    <property name="password" value="${jdbc.password}"/>
	    
	    <!-- Connection Pooling Info -->
	    <property name="maxActive" value="${dbcp.maxActive}"/>
	    <property name="maxIdle" value="${dbcp.maxIdle}"/>
	    <property name="defaultAutoCommit" value="true"/>
	    <!-- 连接Idle一个小时后超时 -->
	    <property name="timeBetweenEvictionRunsMillis" value="3600000"/>
	    <property name="minEvictableIdleTimeMillis" value="3600000"/> 
	</bean>
	
	<!-- <jdbc:initialize-database data-source="dataSource" ignore-failures="ALL">
	    <jdbc:script location="classpath:db-schema.sql"/>
	</jdbc:initialize-database> -->
</beans>
